body {
  background-color: rgb(42, 168, 218);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.component {
  margin: 25px;
  height: 700px;
  overflow: scroll;
  border-radius: 30px;
  border-style: groove;
  border-color: black;
  border-width: 10px;
  padding-right: 10px;
  text-align: center;
  background-color:white;
}

#favList {
  list-style: none;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 200%;
  cursor: pointer;
}




